template element BorderPanel(ChatPanel)
{
	metrics_mode pixels
	left 0
	top 2
	width 256
	height 256
	border_size 8 8 8 8
	material Chat/MenuCenter
	border_material Chat/Menu
   	border_topleft_uv    	0.00 0.00 0.25 0.25
	border_top_uv        	0.25 0.00 0.75 0.25
	border_topright_uv   	0.75 0.00 1.00 0.25
	border_left_uv        	0.00 0.25 0.25 0.75
	border_right_uv       	0.75 0.25 1.00 0.75
	border_bottomleft_uv  	0.00 0.75 0.25 1.00
   	border_bottom_uv      	0.25 0.75 0.75 1.00
	border_bottomright_uv 	0.75 0.75 1.00 1.00
}

template element TextArea(ChatText)
{
	metrics_mode pixels
	font_name ChatFont
	colour_top 0 0 0 1
	colour_bottom 0 0 0 1
}